.OfferInformation {
  border-bottom: 1px solid #cdd4d8;
  padding: 50px 0;
}

.OfferInformation div {
  display: flex;
}

.OfferInformation hr {
  border: 0;
  border-bottom: 1px solid #cdd4d8;
  margin: 20px 0;
}

.row1 {
  flex-flow: column;
  padding: 10px 0;
}

.row2 {
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row2 > div {
  flex: 1 1 200px;
  max-width: 48%;
}

.row3 {
  flex-flow: row wrap;
  justify-content: space-between;
}

.row3 > div {
  flex: 1 1 48%;
  max-width: 48%;
  margin: 10px 0;
}

.row4 {
  flex-flow: column;
  margin: 10px 0;
}

.row4 > div {
  flex: 1 1 48%;
  max-width: 48%;
}

.row5 {
  display: flex;
  flex-flow: column;
  margin: 10px 0;
}

.condition {
  display: flex;
  flex-flow: column nowrap;;
}

.watchCondition div {
  flex: 1 1 100%;
}

.brandNotListed {
  color: #888;
  cursor: pointer;
  margin: 0px;
}

.brandNotListed:hover {
  color: #33474F;
}

.checkboxContainer {
  padding-top: 15px;
}

.checkboxes {
  display: flex;
  padding-top: 5px;
}

.checkboxes div {
  margin-right: 20px;
  width: 20%;
}

@media (min-width: 1000px) {
  .row2 {
    justify-content: flex-start
  }

  .row2 > div {
    max-width: 30%;
  }

  .row2 > div:first-child {
    margin-right: 5%;
  }

  .row3 > div {
    max-width: 30%;
  }

  .row4 {
    flex-flow: row wrap;
  }

  .row4 > div {
    max-width: 30%;
  }

  .condition {
    margin-right: 5%;
  }
}