.OfferInformation {
  padding-top: 50px;
}

.OfferInformation h4 {
  color: #33474F;
  font-family: Trenda-Bold;
  font-size: 20px;
  margin: 15px 0;
}

.OfferInformation div {
  display: flex;
}

.OfferInformation hr {
  border: 0;
  border-bottom: 1px solid #cdd4d8;
  margin: 20px 0;
}

.row1 {
  flex-flow: column;
  padding: 10px 0;
}

.block2 {
  flex-flow: row wrap;
  justify-content: space-between;
}

.block2 > div {
  flex: 1 1 48%;
  max-width: 48%;
}

.brandBlock {
  display: flex;
  flex-flow: column nowrap;
}

.row4 {
  flex-flow: column;
  margin: 10px 0;
}

.row4 > div {
  flex: 1 1 48%;
  max-width: 48%;
}

.row5 {
  display: flex;
  flex-flow: column;
  margin: 10px 0;
}

.condition {
  display: flex;
  flex-flow: column nowrap;;
}

.watchCondition div {
  flex: 1 1 100%;
}

.brandNotListed {
  color: #888;
  cursor: pointer;
  margin: 0px;
}

.brandNotListed:hover {
  color: #33474F;
}

.checkboxContainer {
  padding-top: 15px;
}

.checkboxes {
  display: flex;
  padding-top: 5px;
}

.checkboxes div {
  margin-right: 20px;
  width: 20%;
}

.checkboxRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.checkboxRow > div label {
  font-family: Trenda-Bold;
}

.checkboxRow > div {
  flex: 0 0 250px;
  margin: 8px 15px;
}

@media (min-width: 1000px) {
  .block2 {
    justify-content: space-between;
  }

  .block2 > div {
    max-width: 30%;
  }

  .row3 > div {
    max-width: 30%;
  }

  .row4 {
    flex-flow: row wrap;
  }

  .row4 > div {
    max-width: 30%;
  }

  .condition {
    margin-right: 5%;
  }
}