.WatchForm {
  width: 100%;
}

.WatchForm hr {
  border-style: outset;
  border: 0;
  border-bottom: 1px solid #cdd4d8;
  margin: 40px 0;
}

.WatchForm input, .WatchForm select, .WatchForm option {
  background-color: #EDEDED;
  border: none;
  border-radius: 10px;
  font-family: Trenda-regular;
  font-size: 18px;
  padding: 7px;
  outline: none;
  box-sizing: border-box;
}

.WatchForm input {
  padding-left: 15px;
}

.WatchForm label{
  color: #33474F;
  font-family: Trenda-Bold;
}