.JewelryForm {
  margin: 50px auto 20px auto;
  width: 85%;
}

.JewelryForm hr {
  margin: 40px 0;
  border: none;
  border-bottom: 1px solid #CDD4D8;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons > * {
  margin-left: 25px;
}