.DropdownPane {
  box-sizing: border-box;
}

.label {
  background-color: #EFF0F1;
  border: 1px solid rgba(51, 71, 79, 0.5);
  border-bottom: 0;
  box-sizing: border-box;
  color: #33474F;
  font-family: trenda-bold;
  padding: 10px;
}

.content {
  border-top: 1px solid rgba(51, 71, 79, 0.5); 
  padding: 50px 0;
}

.active {
  background-color: #33474F;
  color: #FAFAFA;
}

.label:hover {
  background-color: #CDD4D8;
  color: #34474F;
}