.VariableInput {
  display: flex;
  flex-flow: column;
  margin: 5px 0;
}

.error {
  color: #F00;
  font-family: Trenda-Bold;
  margin-top: 5px;
}

.VariableInput input, .VariableInput select {
  background-color: #EDEDED;
  border: none;
  border-radius: 10px;
  color: #33474F;
  font-family: Trenda-regular;
  font-size: 18px;
  padding: 7px;
  padding-left: 15px;
  outline: none;
  box-sizing: border-box;
  width: 80%;
}

.VariableInput label {
  color: #33474F;
  font-family: Trenda-Bold;
}

.VariableInput button {
  background-color: #CDD4D8;
  border: none;
  color: #33474F;
  font-family: Trenda-Regular;
  font-size: 18px;
  padding: 7px;
  outline: none;
  width: 20%;
}

.VariableInput button:hover {
  background-color: #EDEDED;
}

.container {
  width: 100%;
}